name: model-gs2

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: models/gs2/
          push: true
          platforms: linux/amd64,linux/arm64
          tags: linusseelinger/model-gs2:latest

  test:
    runs-on: ubuntu-latest
    needs: build

    services:
      model:
        image: linusseelinger/model-gs2:latest
        ports:
        - 4242:4242

    steps:
       -
        name: Validate
        run: |
          docker run --network=host -m 4g -e input_value="[4.98536245337014,0.011195269013375201]" -e model_host=http://localhost:4242 linusseelinger/testing-protocol-conformity-current:latest
